In [ ]:
"""
zoo.data
zoo.names

* 동물 분류 모델
0) 데이터 분석 & 시각화
1) data를 증식(동일한 데이터를 복사 및 붙여넣기, 약 100건 * 5배 => 약 500건)
2) data를 7:3의 비율로 나눔(random_state=1122)
3) xdata : 2번열(hair)~17번열까지, ydata : 18번열(type)

- 텐서플로우(케라스), https://wikidocs.net/157265 참고
- 파이토치, https://wikidocs.net/60324 참고
"""

In [1]:
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, Dense
from tensorflow.keras.optimizers import SGD

import numpy as np

print(tf.__version__)

2.14.0

In [2]:
import pandas as pd

In [23]:
pip install ucimlrepo

Collecting ucimlrepoNote: you may need to restart the kernel to use updated packages.

  Downloading ucimlrepo-0.0.3-py3-none-any.whl.metadata (5.2 kB)
Downloading ucimlrepo-0.0.3-py3-none-any.whl (7.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.3

In [24]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
zoo = fetch_ucirepo(id=111) 
  
# data (as pandas dataframes) 
X = zoo.data.features 
y = zoo.data.targets 
  
# metadata 
print(zoo.metadata) 
  
# variable information 
print(zoo.variables)

{'uci_id': 111, 'name': 'Zoo', 'repository_url': 'https://archive.ics.uci.edu/dataset/111/zoo', 'data_url': 'https://archive.ics.uci.edu/static/public/111/data.csv', 'abstract': 'Artificial, 7 classes of animals', 'area': 'Biology', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 101, 'num_features': 16, 'feature_types': ['Categorical', 'Integer'], 'demographics': [], 'target_col': ['type'], 'index_col': ['animal_name'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1990, 'last_updated': 'Fri Sep 15 2023', 'dataset_doi': '10.24432/C5R59V', 'creators': ['Richard Forsyth'], 'intro_paper': None, 'additional_info': {'summary': 'A simple database containing 17 Boolean-valued attributes.  The "type" attribute appears to be the class attribute.  Here is a breakdown of which animals are in which type: (I find it unusual that there are 2 instances of "frog" and one of "girl"!)', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '   1. animal name:      Unique for each instance\r\n   2. hair:\t\tBoolean\r\n   3. feathers:\t\tBoolean\r\n   4. eggs:\t\tBoolean\r\n   5. milk:\t\tBoolean\r\n   6. airborne:\t\tBoolean\r\n   7. aquatic:\t\tBoolean\r\n   8. predator:\t\tBoolean\r\n   9. toothed:\t\tBoolean\r\n  10. backbone:\t\tBoolean\r\n  11. breathes:\t\tBoolean\r\n  12. venomous:\t\tBoolean\r\n  13. fins:\t\tBoolean\r\n  14. legs:\t\tNumeric (set of values: {0,2,4,5,6,8})\r\n  15. tail:\t\tBoolean\r\n  16. domestic:\t\tBoolean\r\n  17. catsize:\t\tBoolean\r\n  18. type:\t\tNumeric (integer values in range [1,7])', 'citation': None}}
           name     role         type demographic description units  \
0   animal_name       ID  Categorical        None        None  None
1          hair  Feature       Binary        None        None  None
2      feathers  Feature       Binary        None        None  None
3          eggs  Feature       Binary        None        None  None
4          milk  Feature       Binary        None        None  None
5      airborne  Feature       Binary        None        None  None
6       aquatic  Feature       Binary        None        None  None
7      predator  Feature       Binary        None        None  None
8       toothed  Feature       Binary        None        None  None
9      backbone  Feature       Binary        None        None  None
10     breathes  Feature       Binary        None        None  None
11     venomous  Feature       Binary        None        None  None
12         fins  Feature       Binary        None        None  None
13         legs  Feature  Categorical        None        None  None
14         tail  Feature       Binary        None        None  None
15     domestic  Feature       Binary        None        None  None
16      catsize  Feature       Binary        None        None  None
17         type   Target  Categorical        None        None  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no

In [ ]:
plt.figure()

In [29]:
zoo.data.original

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [26]:
X

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1
97,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0
98,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
99,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
100,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0

In [27]:
y

     type
0       1
1       1
2       4
3       1
4       1
..    ...
96      1
97      6
98      1
99      7
100     2

[101 rows x 1 columns]

In [60]:
ttl_tmp = pd.concat([X,y], axis = 1)

In [61]:
ttl_tmp

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [64]:
ttl_tmp_index = pd.concat([ttl_tmp]*5, ignore_index= True)

In [65]:
ttl_tmp_index

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
501,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
502,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
503,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
504,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [67]:
df_y = ttl_tmp_index['type']

In [71]:
df_X = ttl_tmp_index.drop(['type'], axis=1)
df_X

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1
501,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0
502,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
503,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
504,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0

In [72]:
from sklearn.model_selection import train_test_split

In [121]:
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.3, random_state=1122)

In [122]:
X_train

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
16,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0
126,0,0,1,0,0,1,1,1,1,1,0,0,4,0,0,0
241,1,0,1,0,1,0,0,0,0,1,1,0,6,0,1,0
361,0,1,1,0,0,1,1,0,1,1,0,0,2,1,0,1
222,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
267,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1
457,0,0,1,0,0,1,1,0,0,0,0,0,8,0,0,1
237,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,0
133,1,0,0,1,0,0,0,1,1,1,0,0,2,0,0,1

In [123]:
X_test

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
76,0,0,0,0,0,1,1,1,1,0,1,0,0,1,0,0
406,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
104,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
113,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
350,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,1
441,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0
502,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
190,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0
124,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,1

In [124]:
y_train

16     2
126    5
241    6
361    2
222    2
      ..
408    1
267    1
457    7
237    1
133    1
Name: type, Length: 353, dtype: int64

In [125]:
y_test

76     3
406    4
104    1
113    4
350    1
      ..
390    2
441    2
502    1
190    5
124    2
Name: type, Length: 152, dtype: int64

In [126]:
import tensorflow as tf
tf.__version__

'2.14.0'

In [127]:
from tensorflow.keras.datasets import mnist
from tensorflow.keras.utils import to_categorical

import matplotlib.pyplot as plt
import sys
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [132]:
y_train = y_train-1

In [133]:
y_test = y_test-1

In [134]:
y_train = to_categorical(y_train, 7)
y_test = to_categorical(y_test, 7)

In [135]:
y_train.shape

(353, 7)

In [136]:
y_test

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]], dtype=float32)

In [150]:
model = Sequential()

In [151]:
model.add(Dense(1024, input_dim= 16, activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(150, activation='relu'))
model.add(Dense(7, activation='softmax'))

In [152]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [153]:
history = model.fit(X_train, y_train, validation_split=0.25, epochs=30, 
                    batch_size=200, verbose=0)

In [154]:
print("\n Test Accuracy: %.4f" % (model.evaluate(X_test, y_test)[1]))

5/5 [==============================] - 0s 2ms/step - loss: 0.0029 - accuracy: 1.0000

 Test Accuracy: 1.0000